#chat-screen {
  background-color: black;
  height: 500vh;
  overflow-x: hidden;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  top: 10px;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  background-color: black;
  color: white;
}
#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}
.chat__timestamp {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  margin-bottom: 25px;
}

@keyframes appearfromleft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: appearfromleft 0.5s linear;
  color: white;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.message__author {
  margin-bottom: 6px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: rgb(127, 110, 189);
  padding: 10px 13px;
  border-radius: 13px;
  font-size: 18px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

@keyframes appearfromright {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--own {
  justify-content: flex-end;
  animation: appearfromright 0.5s linear;
}
.message-row--own .message__bubble {
  background-color: var(--purple);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column {
  position: relative;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
}
.reply input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  color: black;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -17px;
  top: 4px;
}
.reply__column:last-child > i {
  right: 25px;
  top: 10px;
}
.reply__column button {
  background-color: var(--purple);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:active,
.reply__column button:focus {
  outline: none;
}
.reply i {
  opacity: 0.7;
}

.reply .reply__column:first-child,
.reply .fa-grin-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  padding: 15px 10px;
  border-radius: 30px;
  transform: translateX(-12%) translateY(-100px);
}

.reply:focus-within {
  transform: translateY(80px);
}
