.find-body {
  padding-top: 120px;
  height: 120vh;
}
.recommended-friends {
  padding: 20px;
  color: white;
  margin: 25px 0px;
  background-color: rgba(179, 174, 174, 0.445);
  border-radius: 28px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.recommended-friends__title {
  font-size: 16px;
  opacity: 0.8;
  position: absolute;
  top: 15px;
}
.recommended-friends span {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-top: 10px;
}
.recommended-friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.recommended-friend span {
  transition: all 250ms ease-in-out;
}
.recommended-friend:hover img {
  animation: shadow-drop-center 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.recommended-friend:hover span {
  color: gray;
}
.open-chat {
  background-color: rgba(179, 174, 174, 0.445);
  border-radius: 28px;
  padding: 25px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
  color: white;
  border-bottom: var(--main-border);
  padding-bottom: 20px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  color: white;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
  align-items: center;
  font-size: 22px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 17px;
}
.open-post__members {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: white;
  font-size: 15px;
}
.open-post__members .divider {
  width: 2px;
  height: 16px;
  background-color: gray;
  margin: 0px 6px;
}
.open-post__member-status {
  color: #ffb0e0;
  font-size: 15px;
  font-weight: 500;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: var(--color-gray);
  color: white;
  padding: 5px;
  width: 50px;
  height: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 4px;
  font-size: 15px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.4);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 1.5s linear infinite;
}
