.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0px;
  margin: 25px 0px;
}
.recommended-friends__title {
  font-size: 16px;
  opacity: 0.8;
}
.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-gray);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  color: var(--color-gray);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: var(--main-border);
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
  align-items: center;
  font-size: 22px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 17px;
}
.open-post__members {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  color: var(--color-gray);
  font-size: 15px;
}
.open-post__members .divider {
  width: 2px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 6px;
}
.open-post__member-status {
  color: #ffb0e0;
  font-size: 15px;
  font-weight: 500;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: var(--color-gray);
  color: white;
  padding: 5px;
  width: 50px;
  height: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 4px;
  font-size: 15px;
}
