.welcome-header {
  margin: 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: white;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 50px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  background: none;
  border-bottom: 1px solid gray;
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: white;
}
#login-form input:focus {
  border-color: var(--purple);
}
#login-form input[type="submit"] {
  background-color: var(--purple);
  color: white;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in-out;
}
#login-form input:nth-child(4) {
  background-color: white;
  color: black;
}
input,
select,
textarea {
  color: white;
}
#login-form input:nth-child(3),
#login-form input:nth-child(4) {
  transition: all 250ms ease-in-out;
}
#login-form input:nth-child(3):hover {
  background-color: rgb(70, 50, 140);
}
#login-form input:nth-child(4):hover {
  background-color: rgb(125, 100, 255);
}
#login-form a:hover {
  color: rgb(125, 100, 255);
}
