.alert-circle {
  border: 1px solid tomato;
  color: tomato;
  text-align: center;
  line-height: 14px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  top: 30px;
  right: -23px;
}
.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  background-color: rgba(179, 174, 174, 0.445);
  padding: 20px;
  border-radius: 28px;
}
.more-suggestions__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.more-suggestions__icon:hover {
  color: gray;
}
.more-suggestions__icon:hover .more-suggestions__icon-image {
  background-color: #53248f;
  animation: shadow-drop-center 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--purple);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all 250ms ease-in-out;
}

.more-suggestions__icon-image i {
  font-size: 28px;
  color: white;
}
.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-top: 2px;
}
.shake {
  animation: shake-lr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.icon-row:first-child .icon-row__icon:nth-child(2) {
  position: relative;
}

.talk-drive-badge--dot {
  position: absolute;
  top: -7px;
  right: 10px;
}
