.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}
.badge--dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: default;
}
.badge--shaking {
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite reverse both;
}
